@import './_vars.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500;900&display=swap');

html {
    font-size: 62.5%;
}

body {
	// font-family: 'Open Sans Condensed';
    font-family: 'DM Sans', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    height: inherit;
}

.open {
  display: block; /* Hidden by default */
}

.close {
  display: none; /* Show by default */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
